{% extends 'base.html.twig' %}
{% block title %}
  Statistique par heure
{% endblock %}

{% block body %}
<main class="email">
<div class="section-title">Statistiques d'emails lus par heure :</div>
  <div id="chart_div"></div>
{% endblock %} 