{% extends 'base.html.twig' %}
{% block title %}
All mail
{% endblock %}
{% block body %}
<main class="email">
<div class="section-title">Tous les emails envoyée ({{total}}) :</div>
<table id="datatable" class="display costum-style">
<thead>
   <tr>
      <th class="to">Destinataire</th>
      <th class="object">Object</th>
      <th class="content">Content</th>
      <th class="date">Date</th>
      <th class="status">Status</th>
   </tr>
</thead>
<tbody>
   
   
</tbody>


{% endblock %}